# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual environment
venv/

# Playwright artifacts
test-results/
playwright-report/
screenshots/
videos/
traces/

# HTML report
report.html

# Allure
allure-results/
allure-report/

# Logs
*.log